{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Contact{% endblock %}

{% block body %}
    <div class="flex container">
        <div class="element">
            <img src="https://picsum.photos/360/640/" alt="">
        </div>
        <div class="element">
            <h1 class="title">Contact</h1>
            {# TODO : ContactForm #}
        </div>
    </div>
{% endblock %}
