{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block body %}
<style>

</style>
        <div class="flex container">
            <div class="element">
                <h1 class="title">About</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis perspiciatis quasi officiis iure. Minima, eius rem? Est itaque aliquam tenetur maiores ipsam dolores. Repellendus blanditiis beatae, dolorum dolorem ducimus et?
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, blanditiis suscipit optio, provident iste et atque dignissimos consequuntur distinctio ducimus laudantium qui odio? Omnis deleniti asperiores modi libero. Ipsum dolorum minima sapiente corrupti eligendi amet similique enim quibusdam alias facere sed, consequuntur assumenda explicabo quam?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam minus cupiditate nihil praesentium reiciendis? Veniam id dolorum temporibus officia esse sapiente, et magni quidem animi a quae laboriosam placeat, est minus assumenda ab dolorem consequatur architecto neque? At eius nobis aliquid exercitationem sint vitae, repudiandae non autem quo nemo. Nesciunt!
                </p>
            </div>
            <div class="element">
                <img src="https://picsum.photos/360/640/" alt="">
            </div>
        </div>
{% endblock %}
