{% extends 'base.html.twig' %}

{% block title %}Edit ImageWork{% endblock %}

{% block body %}
    <a href="{{ path('image_work_index') }}">back to list</a>
    <div class="text-align-center"><h1 class="title">Edit ImageWork</h1></div>
    {{ include('image_work/_form.html.twig', {'button_label': 'Modifier', 'showDeleteForm': true}) }}
{% endblock %}
