@import 'variables.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $black;
    background-color: $primary-color;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    height: 4rem;

    ul {
        display: inherit;
        list-style: none;
        padding: 0;

        li {
            margin-left: 2rem;

            a {
                color: $black;
                text-decoration: none;
            }
        }
    }
}