@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$line-height: 1.5;

$primary-color: #dcd6f7;
$secondary-color: #985f6f;
$tertiary-color: #a6b1e1;
$quaternary-color: #b4869f;
$black: #4e4c67;
$white: #dcd6f7;

$color-danger: #ad1010; // used for delete buttons