{% extends 'base.html.twig' %}

{% block title %}New Tech{% endblock %}

{% block body %}
    <h1>Create new Tech</h1>

    {{ include('tech/_form.html.twig') }}

    <a href="{{ path('tech_index') }}">back to list</a>
{% endblock %}
