<nav class="navbar-container">
    <ul>
        <li><a href="{{ path('work') }}">Work</a></li>
        <li><a href="{{ path('tech') }}">Tech</a></li>
        <li><a href="{{ path('imageWork') }}">Image Work</a></li>
    </ul>
</nav>