<nav class="navbar-container">
    <ul>
        <li><a href="{{ path('work_index') }}">Work</a></li>
        <li><a href="{{ path('tech_index') }}">Tech</a></li>
        <li><a href="{{ path('image_work_index') }}">Image Work</a></li>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
    </ul>
</nav>