<nav class="navbar-container">
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('works') }}">Work</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>