<nav class="navbar-container">
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#works">Work</a></li>
        <li><a href="mailto:jonval.robin@gmail.com?subject=RobinJonval.works Contact Form">Contact</a></li>
    </ul>
</nav>